<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div>
        <div class="navbar-container">
            <div class="headingContainer">
                <span class="brandHeading">plantLyf</span>
            </div>
            <div class="navbar">
                <ul class="navul">
                <li>
                    <a href="#" class="Home"> Home </a>
                </li>
                <li>
                    <a href="#" class="about"> About </a>
                </li>
                <li>
                    <a href="#" class="Contact"> Contact </a>
                </li>
                </ul>
            </div>
        </div>
        <div class="image-container">
            <img src="../images/small_plant.jpg" alt="bg-image">
            
            <div class="overlay-text">
                <h1><span style="color: white;">p</span>lant<span style="color: white;">L</span>yf</h1>
                <p style="color: whitesmoke; font-size: 40px;">lore ipusm dolor sit amet, consectetur adipiscing elit, sed do </p>
            </div>
            
        <div> 
    </div>      

    <table id="our-mission-container">
        <tr>
            <td>
                <div id="our-mission-heading">
                    <h1>Our Mission</h1>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
            </td>
            <td>
                <div id="logo-img">
                    <img src="../images/logo.jpg" alt="logo">
                </div>
            </td>
        </tr>
    </table>
    <div class="testimonials">
        <h1>Testimonials</h1>
        <div id="testimonials-cards">
            <div class="flip-card">
                <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                    <h1>John Doe</h1> 
                    <p>Architect & Engineer</p> 
                    <p>We love that guy</p>
                </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                    <h1>John Doe</h1> 
                    <p>Architect & Engineer</p> 
                    <p>We love that guy</p>
                </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                    <h1>John Doe</h1> 
                    <p>Architect & Engineer</p> 
                    <p>We love that guy</p>
                </div>
                </div>
            </div>

        </div>
    </div>

    <div class="team">
        <h1>Our Team</h1>
        <div id="team-cards">
            <div class="card">
                <img src="/w3images/team2.jpg" alt="Darshan" style="width:100%">
                <h2>Darshan Hegde</h2>
                <p class="title">Final Year CSE</p>
                <p>MVJCE</p>
                <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-dribbble"></i></a> 
                <a href="#"><i class="fa fa-twitter"></i></a>  
                <a href="#"><i class="fa fa-linkedin"></i></a>  
                <a href="#"><i class="fa fa-facebook"></i></a> 
                </div>
            </div>
            <div class="card">
                <img src="/w3images/team2.jpg" alt="Edson" style="width:100%">
                <h2>Edson Dsouza</h2>
                <p class="title">Final Year CSE</p>
                <p>MVJCE</p>
                <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-dribbble"></i></a> 
                <a href="#"><i class="fa fa-twitter"></i></a>  
                <a href="#"><i class="fa fa-linkedin"></i></a>  
                <a href="#"><i class="fa fa-facebook"></i></a> 
                </div>
            </div>
            <div class="card">
                <img src="/w3images/team2.jpg" alt="Samarth" style="width:100%">
                <h2>Samarth Hegde</h2>
                <p class="title">Final Year CSE</p>
                <p>MVJCE</p>
                <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-dribbble"></i></a> 
                <a href="#"><i class="fa fa-twitter"></i></a>  
                <a href="#"><i class="fa fa-linkedin"></i></a>  
                <a href="#"><i class="fa fa-facebook"></i></a> 
                </div>
            </div>
            <div class="card">
                <img src="/w3images/team2.jpg" alt="Vishwanath" style="width:100%">
                <h2>Vishwanath Huvannavar</h2>
                <p class="title">Final Year CSE</p>
                <p>MVJCE</p>
                <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-dribbble"></i></a> 
                <a href="#"><i class="fa fa-twitter"></i></a>  
                <a href="#"><i class="fa fa-linkedin"></i></a>  
                <a href="#"><i class="fa fa-facebook"></i></a> 
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Copyright © 2020 - 2024 plantlyf®. All rights reserved.<br>
        <a href="mailto:plantlyf@example.com">plantlyf@hotmail.com</a></p>
    </footer>
      

    
</body>
</html>