<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Upload Form</title>
    <link rel="stylesheet" href="../static/css/diseaseDetect.css" />
  </head>
  <body>
    <h1>Disease Detection</h1>
    <div class="container">
      <form
        action="/diseasedetection"
        method="post"
        enctype="multipart/form-data"
      >
        <h2>Upload Image</h2>
        <div class="form-group">
          <label for="image">Choose Image:</label>
          <input type="file" id="image" name="image" accept="image/*" />
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
    <h3>CNN model 1 prediction : {{prediction1}}</h3> <br> <br>
    <h3>CNN model 2 prediction not a perfect: {{ prediction2 }}</h3>
  </body>
</html>
