<!DOCTYPE html>
<html>
  <head>
    <title>PlantLyf | Disease Detection</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/diseaseDetect.css" />
  </head>
  <body>
    <!-- navigation bar -->
    <nav>
      <div class="nav-container">
        <div class="logo">
          <a href="#">PlantLyf</a>
        </div>
        <div class="nav-toggle" id="navToggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="nav-links" id="navLinks">
          <a href="#">Home</a>
          <a href="/about">About</a>
          <a href="/team">Team</a>
          <a href="/github">GitHub</a>
        </div>
      </div>
    </nav>

    <!-- form -->
    <form
      action="/diseasedetection"
      method="post"
      enctype="multipart/form-data"
    >
      <h3 class="heading">Disease Detection</h3>
      <label for="imageInput">Upload Image:</label>
      <input
        type="file"
        id="imageInput"
        name="imageInput"
        accept="image/*"
      /><br />

      <label for="symptom">Symptoms:</label>
      <input
        type="text"
        id="symptom"
        name="symptom"
        placeholder="Enter Symptoms found in Crop"
      /><br />

      <label for="crop">Crop:</label>
      <input
        type="text"
        id="crop"
        name="crop"
        placeholder="Enter Crop Name"
      /><br />

      <button type="submit" class="btn">Submit</button>
    </form>

    <h3>CNN model 1 prediction : {{prediction1}}</h3>
    <br />
    <!-- <h3>CNN model 2 prediction : {{ prediction2 }}</h3> -->
    <!--not perfect-->
    <h3>Large Language Model:</h3>
    <br />
    <ul>
      {% for line in diseaseprediction %}
      <li>{{ line }}</li>
      {% endfor %}
    </ul>
    <h3>google search result : </h3>
    <ul>
      {% for link in links %}
          <li><a href="{{ link }}">{{ link }}</a></li>
      {% endfor %}
      </ul>

    <!-- Footer Section -->
    <footer>
      <div class="footer-container">
        <div class="footer-left">
          <p>PlantLyf</p>
        </div>
        <div class="footer-center">
          <p>&copy; 2024 PlantLyf. All rights reserved.</p>
        </div>
        <div class="footer-right">
          <a href="/github">GitHub</a>
          <a href="/team">Team</a>
        </div>
      </div>
    </footer>
  </body>
</html>
