<!DOCTYPE html>
<html>
  <head>
    <title>PlantLyf | Plant Recommendation</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/plantRec.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- navigation bar -->
    <nav>
      <div class="nav-container">
        <div class="logo">
          <a href="#">PlantLyf</a>
        </div>
        <div class="nav-toggle" id="navToggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="nav-links" id="navLinks">
          <a href="#">Home</a>
          <a href="/about">About</a>
          <a href="/team">Team</a>
          <a href="https://github.com/edsondsouza/plantLyf" target="_blank"
            >GitHub</a
          >
        </div>
      </div>
    </nav>

    <!-- form -->
    <form action="/croprecommendation" method="post">
      <h3 class="heading">Crop Recommendation</h3>

      <label for="nitrogen">Nitrogen:</label>
      <input
        type="text"
        id="nitrogen"
        name="nitrogen"
        placeholder="Enter Nitrogen Ratio"
      /><br />

      <label for="phosphorus">Phosphorus:</label>
      <input
        type="text"
        id="phosphorus"
        name="phosphorus"
        placeholder="Enter Phosphorus Ratio"
      /><br />

      <label for="potassium">Potassium:</label>
      <input
        type="text"
        id="potassium"
        name="potassium"
        placeholder="Enter Potassium Ratio"
      /><br />

      <label for="temperature">Temperature:</label>
      <input
        type="text"
        id="temperature"
        name="temperature"
        placeholder="Enter Temperature Value"
      /><br />

      <label for="humidity">Humidity:</label>
      <input
        type="text"
        id="humidity"
        name="humidity"
        placeholder="Enter Humidity Value"
      /><br />

      <label for="ph">ph:</label>
      <input type="text" id="ph" name="ph" placeholder="Enter ph Ratio" /><br />

      <label for="rainfall">Rainfall:</label>
      <input
        type="text"
        id="rainfall"
        name="rainfall"
        placeholder="Enter Rainfall Value"
      /><br />

      <label for="rainfall">Input State or Ask Any Doubts:</label>
      <input
        type="text"
        id="doubt"
        name="doubt"
        placeholder="Enter Additional Information"
      /><br />

      <button type="submit" class="submitButton">Submit</button>
    </form>
    <!-- Output -->
    {% if pre %}
    <h3 class="prediction hidden">Predicted Crop: {{ pre }}</h3>
    <ul class="hidden">
      {% for line in prediction %}
      <li>{{ line }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <!-- Footer Section -->
    <footer>
      <div class="footer-container">
        <div class="footer-left">
          <p>PlantLyf</p>
        </div>
        <div class="footer-center">
          <p>&copy; 2023 PlantLyf. All rights reserved.</p>
        </div>
        <div class="footer-right">
          <a href="https://github.com/edsondsouza/plantLyf" target="_blank"
            >GitHub</a
          >
          <a href="/team">Team</a>
        </div>
      </div>
    </footer>
  </body>
  <script src="../static/js/plantRec.js"></script>
</html>
